body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    width: 600px;
    height: 2000px;
}
#butt{
    width: 590px;
    height: 50px;
    margin-top: 5px;
    background-color: green;
    border: 2px solid black;
    font-size: 24px;
}
#box{
position: absolute;
width: 590px;
height: 590px;
top: 60px;
left: 5px;
background-color: blue;
}